body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body button {
  padding: 10px;
  border-radius: 8px;
  border: 0;
}
body button:focus {
  outline: none;
}
body button:active {
  transform: scale(0.98);
}
